# homework

In [ ]:
#Create the following list of Strings: [“Patryk”, “Alex”, “Ian”, “Kevin”]
name_list=["Patryk", "Alex", "Ian", "Kevin"]

In [ ]:
#Prints out all values separately
for element in name_list:
  print(element)

Patryk
Alex
Ian
Kevin

In [ ]:
#Prints out second value (Alex)
name_list=["Patryk", "Alex", "Ian", "Kevin"]
print(name_list[1])

Alex

In [ ]:
#Checks the length of a list
len(name_list)

4

In [ ]:
#Replaces all names with a word “Tomato”
name_list=["Patryk", "Alex", "Ian", "Kevin"]
name_list = ["Tomato" for elements in name_list]
print(name_list)

['Tomato', 'Tomato', 'Tomato', 'Tomato']

In [ ]:
#Create the following list of Integers: [2, 4, 8, 12, 1, 67, 31]
list_of_integers=[2, 4, 8, 12, 1, 67, 31]

In [ ]:
#converts all two-digit numbers into any object of String type
converted_list=[str(number) if 10 <= number < 100
                else number for number in list_of_integers]
print(converted_list)

[2, 4, 8, '12', 1, '67', '31']

In [ ]:
#Prints the lowest value
min(list_of_integers)

1

In [ ]:
sorted_list = sorted(list_of_integers)
min_value = sorted_list[0]
print(min_value)

1